.MainCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    width: 70%;
    padding: 0 3rem;

    .MainCardHeader{
        border-bottom: 1px solid #ccc;
        width: 100%;
        .TableHeader{
            display: flex;
            margin-left: 40%;
            justify-content: space-between;

            p {
                color: #666;
                font-weight: bold;
                margin-right: auto;
            }
        }
    }

    .UpdateButtonContainer{
        display: flex;
        justify-content: flex-end;
        margin: 2rem;

    }

    .Bold {
        font-weight: bold;
    }
}